<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<h2>Welcome</h2>
<%= @user.fname %>
<%= @user.lname %>


<div>Username:

<%= @user.username %>

<a href='/users/<%= @user.id %>/edit'>Edit/Delete</a></div>

<br>

<!-- Create Blog Button -->
<form action='/create_new_blog' method='get'>
<input type="submit" value="Create New Blog Post">
</form>

<!-- Your Blog Posts Button -->


<form action='/your_blog_list' method='get'>
	<input type="submit" value="Your Blog Posts">
</form>
<!-- Logout button below -->

<form action='/logout' method='post'>
	<input type="submit" value="Logout">
</form>

<h3>Your recent comments on other blogs</h3>

<% @comments.each do |c| %>
<div>"<%= c.message %>"</div>
<% blog = Blog.find(c.blog_id) %>
<div>on <a href="/blogs/<%= c.blog_id %>"><%= blog.title %></a></div> 
<form action='/comments/<%= c.id %>/delete_comment' method='post'>
	<input type="submit" value="Delete comment">
</form>
--------- 
<% end %>












